html{
    font-size: 15px;
}

html, body{
    font-size: 15px;
    min-height: 100vh;
    background-color: aliceblue;
}

a{
    text-decoration: none; 
    color: currentColor;
}

*, *::after, *::before, *:hover{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .2s ease-in;
}

.bodyDialogo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(255, 245, 224, 1);
}

.headerDialogo{
    min-height: 12rem;
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 30, 70, 0.96);    
}

.headerDialogo > h1{
    min-height: 5rem;
    font-family: 'Roboto';
    text-align: center;
    border-radius: 2rem;
    padding: 1.5rem;
    background-color:rgb(199, 0, 57);
}

.mainDialogo{
    display: flex;
    flex-direction: column;
    height: 60rem;
    padding: 5rem 0 5rem 0;
    justify-content: center;
}

.article{
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    width: 60rem;
    height: 43rem;
    border: solid black 3px;
    border-radius: 1rem;
    overflow:scroll;
}

.article-header{
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(255, 255, 255);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    gap: 1rem;
    padding: 2rem;
    &&
    h2{
        font-size: 1.7rem;
    }
}

.article-header h2, .article-header span{
    width: 90%;
}

.article-body{
    background-image: url(../../img/dialogo/fondo-dialogo.jpeg);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.intervencion{
    display: flex;
    width: 100%;
    padding: 1rem;
}

.intervencion:nth-child(2n+1){
    align-items: flex-start;
    &&
    .caja{
        background-color: whitesmoke;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        width: 65%;
        border-radius: 1rem;
        padding: 1rem;
        text-align: justify;
        border-top-left-radius: 0;
    }
}

.intervencion:nth-child(2n){
    justify-content: flex-end;
    .caja{
        background-color: whitesmoke;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-self: self-end;
        gap: 1rem;
        width: 65%;
        border-radius: 1rem;
        padding: 1rem;
        text-align: justify;
        border-top-right-radius: 0;
    }
}

.parrafo{
    font-size: 1.3rem;
}

.img{
    z-index: 1;
    width: 10%;
    border-radius: 25%;
    height: 3rem;
}

.article::-webkit-scrollbar{
    display: none;
}

.footerDialogo{
    width: 100%;    
    min-height: 10rem;
    background-color: rgb(255, 105, 105, 0.8);
}

@media screen and (max-width: 1135px) {
    html{
        font-size: 13px;
    }
}@media screen and (max-width: 880px) {
    html{
        font-size: 12px;
    }
}@media screen and (max-width: 808px) {
    html{
        font-size: 11px;
    }
}@media screen and (max-width: 708px) {
    html{
        font-size: 10px;
    }
}@media screen and (max-width: 650px) {
    html{
        font-size: 9px;
    }
}

@media screen and (max-width: 320px)  {
   html{
    font-size: 2px;
   }
}